{{#if user}}
<h2 style="margin:1em; width:100%; text-align:center">
    GET OUT OF HERE!!!!!
    <br>
    YOU'RE ALREADY LOGGED IN
</h2>
{{/if}}

{{#unless user}}
<section class="login-section center-element">
    <div class="my-card">
        <h2>Login</h2>
        <form action="/auth/login" method="POST">

            <div class="mb-3">
                <label for="username-input" class="form-label">Username</label>
                <input id="username-input" type="text" name="username" class="form-control" aria-describedby="emailHelp"
                    required>
            </div>

            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" required>
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
            <a href="/auth/github" class="btn btn-outline-dark">
                <img src="/static/img/ghicon.svg" width="20" />
                Login with GitHub
            </a>
        </form>
    </div>
</section>
{{/unless}}
