{{#if user}}
<h2 style="margin:1em; width:100%; text-align:center">
    GET OUT OF HERE!!!!!
    <br>
    YOU'RE ALREADY SIGNED UP
</h2>
{{/if}}

{{#unless user}}
<section class="signup-section center-element">
    <div class="my-card">
        <h2>Sign Up</h2>
        <form action="/auth/signup" method="POST">

            <div class="mb-3">
                <label for="username-input" class="form-label">Username</label>
                <input id="username-input" type="text" name="username" class="form-control" aria-describedby="emailHelp"
                    required>
            </div>
            <div class="mb-3">
                <label for="email-input" class="form-label">Email</label>
                <input id="email-input" type="email" name="email" class="form-control" aria-describedby="emailHelp"
                    required>
            </div>

            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" required>
            </div>

            <div class="form-text mb-3"><i>We'll never share your data with anyone else.</i></div>

            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
    </div>
</section>
{{/unless}}
