<div class="card custom-card" style="margin: 1em; width: 18rem;" data-aos="zoom-in">
    <div class="card-body">
        <h5 class="card-title">{{category}}</h5>
        <p class="card-text">{{description}}</p>
        <a href="/categories/rm?_id={{_id}}" class="card-link">Delete</a>
    </div>
</div>