<div class="bg-navbar">
    <div class="container custom-navbar">
        <h1 class="text-muted"><a class="no-style" href="/">Fastify CRUD</a></h1>
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarcollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarcollapse">
                <ul class="navbar-nav justify-content-between w-100">

                    <li class="custom-li-nav">
                        <span class="badge badge-danger">
                            <a class="nav-link nav-link-elem" href="/entries/rm-all">Delete all ENTRIES</a>
                        </span>
                    </li>

                    <li class="custom-li-nav">
                        <span class="badge badge-success">
                            <a href="/entries" class="nav-link nav-link-elem">Show Entries</a>
                        </span>
                    </li>

                    <li class="custom-li-nav">
                        <span class="badge badge-success">
                            <a href="/categories" class="nav-link nav-link-elem">Show Categories</a>
                        </span>

                    </li>

                    <li class="custom-li-nav">
                        <span class="badge badge-danger">
                            <a class="nav-link nav-link-elem" href="/categories/rm-all">Delete all CATEGORIES</a>
                        </span>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>